@tailwind base;
@tailwind components;
@tailwind utilities;

#Titulo {
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik Glitch', cursive;
}

#btnMas{
    font-family: 'Rubik Glitch', cursive;
}